
@font-face{
	font-family: 'EpilogueLight';
	src: url('../fonts/epilogue/Epilogue-Light.ttf');
}
@font-face{
	font-family: 'Epilogue';
	src: url('../fonts/epilogue/Epilogue-Regular.ttf');
}
@font-face{
	font-family: 'EpilogueSemibold';
	src: url('../fonts/epilogue/Epilogue-Semibold.ttf');
}
@font-face{
	font-family: 'EpilogueBlack';
	src: url('../fonts/epilogue/Epilogue-Black.ttf');
}

body{
	background-color: #F3F7FA;
	font-family: 'Epilogue';
}
.header{
	background-color: #FFF;
	padding: 12px 0px;

}
.header .navbar{
}
.header .navbar .navbar-brand{
	font-family: 'EpilogueBlack';
	color: #000;
}
.register{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 30%;
	background-color: #FFF;
	padding: 30px;
	border-radius: 10px;
	text-align: center;
}

.register .form-control{
	box-shadow: none;
	border-radius: 10px;
	padding: 20px 15px;
}	
.register .form-control:focus{
	border-color: #999;

}
.register .btn{
	background-color: #000;
	color: #FFF;
	border-radius: 10px;
	height: 45px;
	width: 100%;
	box-shadow: none;
}
.register .btn:focus{

}
.register .register-footer{
	margin-top: 15px;
	font-family: 'EpilogueLight';
}